# build output
dist/
.output/

# astro
.astro/

# dependencies
node_modules/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# test artifacts
playwright-report/
test-results/
coverage/

# Local Netlify folder
.netlify
